@import "admin/admin.css";
@import "reset/reset.css";

// @import "old-style.scss";

/* Glogal options */

.massage, .errors  {
    border-radius: 5px;
    min-height: 100px;
    margin: 30px 0;
    padding: 20px;
}

.massage {
    background: #bcffa7;
}

.errors {
    background: #ffa7a7;
}

.closed {
    display: none;
}

.design-bordered {
    border-bottom: 1px solid #e6e6e6;
}

.dropdown p {
    margin-bottom: 0;
}

.btn {
    border-radius: 5px;
    font-size: 14px;
}

.out-shadow {
    box-shadow: 0 0 25px rgb(231, 231, 231);
}

.products {
    .product-title {
        font-weight: 600;
        font-size: 14px;
    }

    .product-img {
        min-width: 100px;
    }


    .product-content {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

}

.purchase-now {
    color: #1169B6;

    :active {
        color: #1169B6;
    }
}

.promo-block {
    @media screen and (max-width: 1200px) {
        opacity: 0%;
    }

}

.complete-page{
    padding: 100px 0;
}

.design-horizontal {
    display: flex;
    align-items: center;

    .product-img {
        flex: 0 0 auto;

        & img {
            max-width: 120px;
            border-radius: 5px;
        }
    }

    .product-content {
        flex: 1 1 auto;

        p {
            margin-bottom: 0;
        }
    }
}

.bg-white {
    background-color: white;
    border-radius: 5px;
}


// info-blocks

.info-blocks {
    margin-bottom: 50px;
    padding-bottom: 20px;
}


.info-block {
    gap: 15px;

    & img {
        min-width: 30px;
    }

    & .subtitle {
        margin-bottom: 0;
    }

    & .title {
        margin-bottom: 15px;
        font-weight: 500;
    }

    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }
}


// list-menu 

.list-menu {
    & li {
        margin-bottom: 15px;
    }

    img {
        display: inline;
    }
}






.content-center {
    align-items: center;
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-around {
    justify-content: space-around;
}


.gap {
    gap: 20px;
}

.gap-5 {
    gap: 5px;
}

.justify-center {
    justify-content: center;
}


.column {
    flex-direction: column;
}

.switch-btn {
    display: flex;
    height: 25px;
    width: 25px;
}



.display-flex {
    display: flex;
}

.col-right {
    justify-content: flex-end;
}

.text-right {
    margin-left: auto;
}


.hot {
    position: relative;

    &::after {
        position: absolute;
        content: "Hot";
        color: white;
        background: #d23336;
        top: 10px;
        left: 20px;
        text-align: center;
        min-width: 65px;

        @media screen and (max-width: 1024px) {
            & {
                font-size: 8px;
                min-width: 20px;
            }
        }
    }
}


.bold {
    font-weight: 700;
}


.read-more-btn {
    background: #1169b6;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;

    &:hover {
        color: white;
        background: #073d6d;
    }
}


.old-price {
    opacity: 50%;
    font-size: 12px;
    text-decoration: line-through;
}

.price {
    font-size: 15px;
    color: #1169b6;

    &::after {
        content: " $";
    }
}


.block-title {
    padding-bottom: 20px;
    img {
        margin-right: 10px;
    }
}


.has-dropdown {
    >::after {
        filter: invert(100%);
        content: url("../img/svg/dropdown-sign.svg");
        margin-left: 10px;

    }
}

.no-filter {
    ::after {
        filter: invert(0%);
    }
}

.space-between {
    justify-content: space-between;
}

.scheme-light {
    color: white;

    a {
        color: white;

        &:hover {
            color: #617cf3;
        }
    }
}

.scheme-dark {
    color: black;

    a {
        color: black;

        &:hover {
            color: #617cf3;
        }
    }
}

.style-bordered {
    > :not(:last-child)::after {
        content: "";
        background-color: #2978bd;
        padding-left: 2px;
        margin-right: 10px;
        margin-left: 10px;
    }

}


.text-center {
    text-align: center;
}

// font system

.opacity-30 {
    opacity: 30%;
}

.opacity-50 {
    opacity: 50%;
}

.opacity-80 {
    opacity: 80%;
}


// text size

p {
    font-size: 15px;
}

.reset-text-margin {
    margin-bottom: 0;
}

.title {
    font-size: 25px;
    margin-bottom: 0;
}

.subtitle {
    font-size: 12px;
    opacity: 70%;
    margin-bottom: 0;
}

.text {
    opacity: 70%;
}

.size-s {
    font-size: 12px;
}

.size-m {
    font-size: 15px;
}

.size-l {
    font-size: 20px;
}

h5 {
    font-size: 20px;
}

h4 {
    font-size: 25px;
}

h3 {
    font-size: 32px;
}

h2 {
    font-size: 40px;
}



// column system




.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;

}

.row-spacing {
    .row {
        margin-bottom: -20px;
    }

    [class^="col-"] {
        margin-bottom: 20px;
    }
}


[class^="col-"] {
    padding-left: 10px;
    padding-right: 10px;
}


.col-auto {
    flex-basis: auto;
    flex-grow: 1;
}

.col-fixed {
    flex: 0 0 auto;
}


@for $i from 1 through 12 {
    .col-#{$i} {
        flex-basis: calc((100% / 12) * $i);
        max-width: calc((100%/ 12) * $i);
    }
}



@for $i from 1 through 12 {
    .col-md-#{$i} {
        @media screen and (max-width: 1024px) {
            flex-basis: calc((100% / 12) * $i);
            max-width: calc((100%/ 12) * $i);
        }
    }
}

@for $i from 1 through 12 {
    .col-sm-#{$i} {
        @media screen and (max-width: 767px) {
            flex-basis: calc((100% / 12) * $i);
            max-width: calc((100%/ 12) * $i);
        }
    }
}



