/* Glogal options */
body{
    margin: 0;
}

button, input{
    padding: 0;
    margin: 0;
    border-style: none;
}




/* Header top */

.header-top{
    background-color: #1169b6;
    position: fixed;
    width: 100%;
    z-index:999;
}

.header-content {
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin: 0 auto;
    width: 68%;
}

.contacts {
    display: flex;
    justify-content: space-between;
    width: 25%;

}

.country-options {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.currency {
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid #2978bd;
    border-right: 1px solid #2978bd;
}

.header-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 68%;
    height: 160px;
}

.search-field{
    width: 585px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    padding: 0;
}

.search-field::placeholder{
    padding-left: 20px;
}

.search-block button{
    color: white;
    background: #1169b6;
    border: 1px solid #1169b6;
    border-radius: 5px;
    height: 44px;
    width: 50px;
    
}

.categories-btn{
    padding-left: 21px;
    text-align: left;
    font-size: 15px;
    width: 310px;
    height: 60px;
    background: #333333;
    border: 1px solid black;
    border-radius: 5px 5px 0 0;
    color: white;
}

.categories-btn .show-sign{
    margin-left: 100px;
}

.drop-down{
    box-shadow: 0 7px 25px -8px rgb(182, 182, 182);
    min-width: 309px;
    border-bottom: 1px solid #ebebeb;
    display: none;
    background: #ffffff;
}

.categories:hover .drop-down{
    display: block;
}

.drop-down-item{
    margin: auto;
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
}

.drop-down-item:last-child{
    color:#4c8ec8;
    font-weight: 700;
    border-bottom: none;
}

.drop-down .show-sign{
    height: auto;
    rotate: 270deg;
    margin-left: auto;
    filter: invert(50%);
}

.item-icon {
    width: 17px;
    height: 17px;
    margin-right: 8px;
}

.drop-down ul{
    list-style-type: none;
}



.header-menu{
    display: flex;
    margin: 0 auto;
    width: 68%;
}

.menu {
    margin-left: 20px;
    width: 30%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.menu .options{
    color: black;
    text-decoration: none;
}

.menu .options::after{
    content:  url('/views/img/svg/show.svg');
    padding-left: 5px;
    filter: invert(50%);
}

.menu .options:first-child{
    align-self: flex-end;
    padding-bottom: 3px;
    border-bottom: 3px solid #1169b6;
    line-height: 48px;
}   
.purchase-now{
    padding-right: 5px;
    margin-right: 5px;
    border-right: 2px solid #d6d6d6;
    text-decoration: none;
}
.discount{
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.always-open {
    display: block;
}

.header-slider{
    display: flex;
    margin: 0 auto;
    max-width: 68%;
}

.rights-menu{
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.slider-img{
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
}
.slider-filler {
    width: 70%;
    display: flex;
    position:absolute;
    top: 100px;
    left: 100px;
    gap: 125px;
    justify-content: space-between;
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 370px;
    color: white;
}

.right-side {
    gap: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.product{
    width: 315px;
    border-radius: 5px;
    background: white;
    color: black;
    display: flex;
}
.product-info{
    line-height: 5px;
}
.product img{
    max-width: 100px;
    border-radius: 5px;
}
.slider-btn {
    display: flex;
    gap: 10px;
}
.slider-btn button{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.read-more-btn {
    margin-top: 20px;
    background: #f1bb2f;
    border-radius: 5px;
    width: 125px;
    height: 41px;
    color: white;
}

.slider-description p{
    opacity: 50%;
}
.slider{
    position: relative;
}
/* home */

.content{
    background: #fafafa;
    box-shadow: inset 0 7px 25px -8px rgb(182, 182, 182);
    height: 750px;
}

/* Footer */
.footer {
    margin: 0 auto;
    max-width: 68%;
}

.info-img{
    max-width: 46px;
}


.infoboxes{
    padding-top: 15px;
    height: 68px;
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 25px;
    
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    max-height: 300px;
    padding: 50px 0 20px 0;
    border-bottom: 1px solid #e6e6e6;
}

.description{
    max-width: 30%;
}

.partnership{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.credentials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}




