* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
}

a {
  color: black;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Glogal options */
.search-field::-webkit-input-placeholder {
  padding-left: 20px;
}
.search-field::-moz-placeholder {
  padding-left: 20px;
}
.search-field:-ms-input-placeholder {
  padding-left: 20px;
}
.search-field::-ms-input-placeholder {
  padding-left: 20px;
}
.search-field::placeholder {
  padding-left: 20px;
}

.has-dropdown ::after {
  content: url("../../views/img/svg/show.svg");
  margin-left: 10px;
}

.scheme-light {
  color: white;
}
.scheme-light a {
  color: white;
}

.scheme-dark {
  color: black;
}
.scheme-dark a {
  color: black;
}

.nav li :hover {
  color: #617cf3;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}

[class^=col] {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.col-auto {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.col-1 {
  -ms-flex-preferred-size: 8.3333333333%;
      flex-basis: 8.3333333333%;
}

.col-2 {
  -ms-flex-preferred-size: 16.6666666667%;
      flex-basis: 16.6666666667%;
}

.col-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.col-4 {
  -ms-flex-preferred-size: 33.3333333333%;
      flex-basis: 33.3333333333%;
}

.col-5 {
  -ms-flex-preferred-size: 41.6666666667%;
      flex-basis: 41.6666666667%;
}

.col-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.col-8 {
  -ms-flex-preferred-size: 66.6666666667%;
      flex-basis: 66.6666666667%;
}

.col-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.col-10 {
  -ms-flex-preferred-size: 83.3333333333%;
      flex-basis: 83.3333333333%;
}

.header-top {
  background-color: #1169b6;
}
.header-top .row {
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top .row .header-col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header-top .row .header-col-right p {
  margin-right: 10px;
}
.header-top .row ul li {
  display: inline;
  margin-right: 10px;
}
.header-top .row ul li:last-child {
  margin-right: 0;
}

.header-middle .header-search {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.header-middle .header-search .col-auto {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.header-middle .header-search .search-button {
  color: white;
  background: #1169b6;
  border: 1px solid #1169b6;
  border-radius: 5px;
  height: 44px;
  min-width: 50px;
}
.header-middle .search-field {
  margin-right: 10px;
  width: 100%;
  height: 42px;
}
.header-middle [class^=col-] {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-bottom .always-open {
  display: block;
}
.header-bottom .header-menu {
  border: 1px solid black;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-bottom .header-menu .browse-categories {
  height: 100%;
}
.header-bottom .header-menu .browse-categories .categories-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
  background: #000000;
  border: 1px solid black;
  border-radius: 5px 5px 0 0;
}
.header-bottom .header-menu .browse-categories .drop-down {
  position: absolute;
  width: 100%;
  top: 60px;
  left: 0;
  background: white;
}
.header-bottom .header-menu .browse-categories .drop-down li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #f5f5f5;
}
.header-bottom .header-menu .browse-categories .drop-down > :hover {
  background: #e9e9e9;
}
.header-bottom .header-menu .browse-categories .drop-down .show-sign {
  rotate: 270deg;
  -webkit-filter: invert(50%);
          filter: invert(50%);
}
.header-bottom .header-menu .browse-categories .drop-down .item-icon {
  padding-right: 10px;
}
.header-bottom .header-menu .nav {
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-bottom .header-menu .nav .active {
  border-bottom: 3px solid #1169b6;
}
.header-bottom .header-menu .nav li {
  margin-left: 20px;
}
.header-bottom .header-menu .nav li :hover {
  color: #617cf3;
}
.header-bottom .header-menu .nav li:first-child {
  margin-left: 0;
}
.header-bottom .header-menu .nav li::after {
  content: url("/views/img/svg/show.svg");
  padding-left: 5px;
  -webkit-filter: invert(50%);
          filter: invert(50%);
  border: none;
}

.slider {
  margin-top: 20px;
  border-radius: 5px;
  background: no-repeat url("../../views/img/hyperion-slider-1.jpg");
  background-size: cover;
  width: 100%;
}
.slider .slider-description h1 {
  font-size: 25px;
}
.slider .row {
  padding-left: 20px;
  height: 100%;
}
.slider .row [class^=col] {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.slider .row .slider-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.slider .row .read-more-btn {
  background: #f1bb2f;
  font-weight: 700;
  border-radius: 5px;
  max-width: 80px;
  padding: 7px;
  color: white;
}
.slider .row .read-more-btn:hover {
  background: #af8c34;
}
.slider .row .switch-btn {
  min-height: 25px;
  min-width: 25px;
  text-align: center;
  vertical-align: bottom;
  border-radius: 50%;
  background-color: #fafafa;
  line-height: 25px;
}
.slider .row .col-6 .col {
  background: white;
  border-radius: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.slider .row .col-6 .col .col {
  min-height: 125px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slider .row .col-6 .col .col :first-child {
  font-size: large;
  font-weight: 600;
}
.slider .row .col-6 .col .col a {
  font-weight: 600;
}
.slider .row .col-6 .col .col a:hover {
  color: #1169b6;
}
.slider .row .col-6 .col .col .price {
  color: #4c8ec7;
}
.slider .row .col-6 .col .col .old-price {
  opacity: 50%;
  text-decoration: line-through;
}