<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../views/css/base.css">

        <title>Document</title>
    </head>
    <body>
        <header class="fixed">
            <div class="container scheme-light">
                <div class="row align-center space-between">
                    <div class="col-auto">
                        <div class="logo">
                            <a href="/"><img src="img/svg/hyperion-logo.svg" alt></a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div
                            class="profile-block display-flex gap align-center col-right">
                            <div class="user-name">
                                <a href>Admin</a>
                            </div>
                            <div class="profile-img">
                                <a href><img src="img/author-img.png" alt></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="page-content">
            <div class="sidebar-section scheme-light fixed bg-dark">
                <div class="block-title display-flex space-between align-center design-bordered">
                    <div class="sidebar-title">
                        <h5 class="title">Navigation</h5>
                    </div>
                    <div class="sidebar-img">
                        <a href=""><img src="img/svg/browse.svg" alt=""></a>
                    </div>
                    
                </div>
                <div class="sidebar-content">
                    <div class="sidebar-block">
                        <div class="element-subtitle">
                            <p class="text-sm opacity-50 ">
                                MAIN
                            </p>
                        </div>
                        <div class="sidebar-elements">
                            <ul>
                                <li class="sidebar-element">
                                    <a class="display-flex align-center gap" href="/">
                                        <img src="img/svg/sidebar-icons/dashboard.svg" alt="">
                                        <p>Dashboard</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-block">
                        <div class="element-subtitle">
                            <p class="text-sm opacity-50 ">
                                PRODUCTS
                            </p>
                        </div>
                        <div class="sidebar-elements">
                            <ul>
                                <li class="sidebar-element">
                                    <a class="display-flex align-center gap" href="/">
                                        <img src="img/svg/sidebar-icons/products.svg" alt="">
                                        <p class="text">Products</p>
                                    </a>
                                </li>
                                <li class="sidebar-element">
                                    <a class="display-flex align-center gap" href="/">
                                        <img src="img/svg/sidebar-icons/orders.svg" alt="">
                                        <p class="text">Orders</p>
                                    </a>
                                </li>
                                <li class="sidebar-element">
                                    <a class="display-flex align-center gap" href="/">
                                        <img src="img/svg/sidebar-icons/analytic.svg" alt="">
                                        <p class="text">Analitics</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="page-header">
                    <div class="block-title">
                        <h5 class="title">Home - Dashboard</h5>
                    </div>
                </div>
                <div class="content-section">

                    <div class="content-block">
                        <div class="row content-block bg-white row-spacing">
                            <div class="col-6">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente itaque voluptatum soluta fugit omnis temporibus laborum ea ex dignissimos rem, distinctio dolorem eaque! Laudantium porro laborum modi quis, alias quia!
                            </div>
    
                        </div>
                    </div>
                        
                   
                    
                </div>
                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="col-auto">
                                <p class="subtitle">Hyperion 2023</p>
                            </div>
    
                            <div
                                class="col-right display-flex subtitle scheme-dark gap">
                                <a href="#" class="subtitle">Privacy
                                    Policy</a>
                                <a href="#" class="subtitle">Terms
                                    and Conditions</a>
                                <a href="#" class="subtitle">Contact
                                    Us</a>
                            </div>
                        </div>
    
                    </div>
                </footer>
            </div>

            
        </div>
        
    </body>
</html>